<?xml version="1.0" encoding="UTF-8"?>
<Configuration finished="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATH">log</Property>
        <Property name="LOG_PATTERN">%5p %t - %d{yyyy-MM-dd HH:mm:ss.SSS}; - %c [%thread] - %m%n</Property>
    </Properties>
    <Appenders>
        <RollingFile name="RollingFileAppender" fileName="${LOG_PATH}/scheduler.log"
                     filePattern="${LOG_PATH}/scheduler-%d{MM-dd-yyyy}-%i.log.gz"
                     ignoreExceptions="false">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="5 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="RollingFileAppender"/>
            <AppenderRef ref="ConsoleAppender"/>
        </Root>
    </Loggers>
</Configuration>
